---
import DocsLayout from '../../../layouts/DocsLayout.astro';
const title = 'Files';
---

<DocsLayout title={title}>
<h1>Files</h1>
<p>Upload and manage files for use with tools and batches. Send a multipart request to <code>POST /v1/files</code> (max 50 MB per file). Files can be referenced by ID in subsequent API calls.</p>
</DocsLayout>
