---
import DocsLayout from '../../../layouts/DocsLayout.astro';
const title = 'progrok image';
---

<DocsLayout title={title}>
<h1>progrok image</h1>
<p>Generate or edit images from text prompts.</p>
<pre><code>{`progrok image "A futuristic Tokyo skyline at sunset"
progrok image --ref ./sketch.png "Turn this into a watercolor painting"
progrok image --n 4 "Minimalist logo designs for a coffee shop"`}</code></pre>
<h2>Options</h2>
<table>
<tr><th>Flag</th><th>Description</th></tr>
<tr><td><code>--ref</code></td><td>Reference image for editing/style transfer</td></tr>
<tr><td><code>--n</code></td><td>Number of images to generate (default: 1)</td></tr>
<tr><td><code>--output, -o</code></td><td>Output file path</td></tr>
<tr><td><code>--size</code></td><td>Image dimensions (e.g. 1024x1024)</td></tr>
</table>
</DocsLayout>
