---
import DocsLayout from '../../../layouts/DocsLayout.astro';
const title = 'progrok video';
---

<DocsLayout title={title}>
<h1>progrok video</h1>
<p>Generate videos from text or images.</p>
<pre><code>{`progrok video "A cat walking on the moon"
progrok video --image ./photo.png "Animate this scene"
progrok video --model 1.5-preview "Cinematic drone shot of a city"`}</code></pre>
<h2>Options</h2>
<table>
<tr><th>Flag</th><th>Description</th></tr>
<tr><td><code>--image</code></td><td>Source image for image-to-video (I2V)</td></tr>
<tr><td><code>--model</code></td><td>Model version (default: latest, or <code>1.5-preview</code>)</td></tr>
<tr><td><code>--output, -o</code></td><td>Output file path</td></tr>
<tr><td><code>--duration</code></td><td>Video duration in seconds</td></tr>
</table>
</DocsLayout>
