---
import DocsLayout from '../../../layouts/DocsLayout.astro';
const title = 'Tools Overview';
---

<DocsLayout title={title}>
<h1>Tools Overview</h1>
<p>Server-side tools extend model capabilities without client-side implementation. Include them in the <code>tools</code> array of your chat completion request.</p>
<table>
<tr><th>Tool</th><th>Description</th></tr>
<tr><td>web_search</td><td>Search the web for current information</td></tr>
<tr><td>x_search</td><td>Search posts on X (Twitter)</td></tr>
<tr><td>code_interpreter</td><td>Execute code in a sandboxed environment</td></tr>
<tr><td>collections_search</td><td>Search uploaded file collections</td></tr>
<tr><td>Remote MCP</td><td>Connect to external MCP tool servers</td></tr>
<tr><td>Function calling</td><td>Define custom functions the model can invoke</td></tr>
</table>
</DocsLayout>
