---
import DocsLayout from '../../../layouts/DocsLayout.astro';
const title = 'X Search';
---

<DocsLayout title={title}>
<h1>X Search</h1>
<p>The <code>x_search</code> tool queries Twitter/X posts in real time, returning relevant tweets for a given query. Available via the API as the <code>x_search</code> tool or from the CLI with <code>progrok search --x</code>.</p>
</DocsLayout>
